/* KEYFRAMES */

main.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

    .contenedor-circulo {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        background-size: cover;
        background-position: center;
        animation: cambiar-imagen 6s infinite ease-in-out;

        .semicirculo-texto {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 20px;
            box-sizing: border-box;
            animation: cambiar-semicirculo 10s infinite steps(1);

            .texto {
                text-align: center;

                p {
                    margin: 0;
                    font-size: 14px;
                }
            }
        }

    }

}
//en este caso se usa rango porque es mas seguro que el paso entre imagenes se vea de golpe antes de lo se espera

    @keyframes cambiar-imagen {

        0%,
        33.33% {
            background-image: url(https://picsum.photos/id/1/200);
        }

        33.34%,
        66.66% {
            background-image: url(https://picsum.photos/id/56/200);
        }

        66.67%,
        100% {
            background-image: url(https://picsum.photos/id/67/200)
        }
    }

    @keyframes cambiar-semicirculo {

        0% {
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
            width: 100%;
            height: 50%;
            top: 0;
        }

        20% {
            background-image: linear-gradient(to right, #434343 0%, black 100%);
            width: 50%;
            height: 100%;
            right: 0;
        }

        40% {
            background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
            width: 100%;
            height: 50%;
            top: unset;
            bottom: 0;
        }

        80% {
            background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
            width: 50%;
            height: 100%;
            right: unset;
            left: 0;
        }
    }

    