<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyframe flechas intermitentes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Animaciones</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link " href="../index.html">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./gradientes.html">Gradientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./tranformaciones-transiciones.html">Transition y transform</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="keyframes.html">Keyframes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                LIBRERIAS
                            </a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item active" aria-current="page" href="animista.html"> Animista
                                    </a> </li>
                                <li><a class="dropdown-item" href="aos.html">AOS</a></li>
                                <li><a class="dropdown-item" href="animate.html">Animate</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                EJEMPLOS
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="ejemplo-flechas_keyframe.html">Ej keyframe</a></li>
                                <li><a class="dropdown-item" href="./ejemplo-subrayado_hover.html">Ej subrayado</a></li>
                                <li><a class="dropdown-item" href="ejemplo-zapatilla_hover.html">Ej zapatillas</a></li>
                                <li><a class="dropdown-item" href="ejemplo-circulo_imgFondo.html">Ej circulo imagen y
                                        texto</a></li>
                                <li><a class="dropdown-item" href="ejemplo-weimaraner.html">Ej Weimaraner</a></li>
                                <li><a class="dropdown-item" href="ejemplo-gradiente_keyframe.html">Ej Texto animado</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="bg-flechas d-flex align-items-center flex-column">
        <h1>Uso de Keyframe sencillo para flecha que lleva al inicio</h1>
        <p  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas numquam hic labore dicta, inventore
            veritatis non deleniti, error, sapiente fuga minus. Deleniti magni assumenda id voluptatem minus libero at
            commodi.
            Quibusdam labore ducimus repellat vitae repellendus sequi soluta provident, laborum numquam ab quis vel,
            amet eaque sint iusto illo architecto odit officia. Expedita quis unde deserunt error magni vel ullam.
            Officiis dolorem numquam velit porro blanditiis accusamus eveniet non quod corporis error dignissimos
            tempore ab inventore dolorum aut deserunt laboriosam labore, magni esse sunt reprehenderit commodi. Corrupti
            omnis minus accusantium.
            Ipsa earum minus corporis nostrum hic! Consectetur, eos fugiat odio neque corporis, animi ad debitis iste
            incidunt magnam vitae? Assumenda, veniam reiciendis. Enim non beatae impedit! Quia odit odio voluptas.
            Unde, et asperiores quisquam officiis iure quo expedita quos at facilis voluptatem sequi debitis
            voluptatibus autem cum esse? Rerum reiciendis nisi quo expedita sapiente mollitia deleniti explicabo commodi
            esse omnis.
            Distinctio sed explicabo quae nemo praesentium totam quo tempora hic voluptate iusto. Illum amet cupiditate
            dignissimos adipisci placeat obcaecati nostrum impedit consequatur commodi cum dolores quia tenetur, animi
            aut quasi?
            Eos sequi nihil ipsum iusto quae! Exercitationem ratione voluptatibus aut corrupti nulla numquam neque
            aliquam distinctio provident ex in a quasi praesentium recusandae, ducimus nesciunt dolorem perspiciatis
            nisi atque suscipit.
            Corrupti molestias numquam aliquid perferendis cumque veniam magnam, magni perspiciatis! Dolor ab quaerat
            magnam voluptates a provident. Reiciendis non beatae, earum asperiores harum ea nulla officiis. Hic itaque
            sunt aut!
            Maxime similique itaque unde expedita sapiente ad quod incidunt recusandae dicta dolorem! Eos dolore
            deleniti repellat sequi quae soluta maiores facere, ut iste, accusamus at, error sint? Maiores, hic itaque.
            Deleniti hic nobis inventore optio autem rem quam impedit, veritatis quas qui quidem necessitatibus
            voluptatem sint, quisquam eum ullam enim dolore reprehenderit facere possimus tempore? Recusandae voluptatem
            autem perferendis eum.
            Dolorum accusantium nulla aperiam, harum enim nostrum odio modi laudantium dolorem quaerat nesciunt autem
            eaque sint amet numquam impedit pariatur eligendi aliquid. Eveniet tenetur rem doloribus suscipit
            dignissimos debitis maiores!
            Aspernatur cupiditate nesciunt debitis sapiente repellat, exercitationem iste natus atque culpa non quia cum
            laborum est qui tempore facere neque voluptatum architecto ducimus velit id? Autem numquam quidem nostrum
            alias?
            Non, consequuntur deleniti tempore delectus harum rerum, in corrupti fuga ab consectetur consequatur
            repellendus dignissimos neque maxime odio provident illo dolore qui optio quaerat officiis recusandae, omnis
            adipisci dolorum. Ratione.
            Nam similique rem doloremque voluptates harum corrupti nihil dignissimos aperiam quae omnis, officia
            assumenda dolores sed. Et perspiciatis atque earum, blanditiis ipsa cumque ducimus in voluptas expedita
            numquam commodi quas!
            Aliquid, repellendus quibusdam minima magnam, soluta rerum voluptates doloremque labore, mollitia corporis
            ea. Doloribus iste labore libero est, fugit nihil ea dignissimos unde, voluptatum non quaerat voluptatem
            tenetur, ipsa animi.</p>
             exercitationem nesciunt pariatur molestias
                ducimus neque modi.
                Laborum distinctio error minima repudiandae esse, saepe nemo maxime necessitatibus, quos ducimus sapiente
                dolor. Incidunt, impedit tempora. Explicabo animi fuga, enim corrupti laboriosam iusto ducimus in
                necessitatibus, expedita saepe nihil.
                Officia, deleniti aliquam? Error saepe nobis aspernatur debitis eveniet! Sunt ea distinctio tempore mollitia
                voluptate sapiente cupiditate amet, officiis error iste, corporis ipsam fugit incidunt adipisci quis
                perspiciatis soluta magni.
                Laudantium eos ad aliquam omnis facere? Quam quas mollitia, itaque nobis asperiores molestias nihil
                reiciendis earum reprehenderit voluptas voluptatum aliquam saepe expedita ea aliquid quisquam sit? Commodi
                veritatis cupiditate delectus!
                Cumque nam officia, error quia atque in quidem, vel at iusto accusantium necessitatibus delectus suscipit
                ullam molestias eos totam dolor, doloribus facere amet omnis ipsum veniam vero sed. Quas, nesciunt.
                Velit quaerat autem error odit dignissimos neque inventore exercitationem suscipit ipsum, animi et quos
                nesciunt maiores soluta incidunt nihil illo sint quod facere non commodi? Labore nobis repellendus tempora
                debitis!
                Magnam, itaque harum id iure excepturi nostrum nam maxime nemo ad obcaecati, non assumenda eaque tempore
                nesciunt animi quidem aut est quis cupiditate natus. Dolore placeat nihil nulla a reprehenderit!
                Repudiandae quo molestiae nostrum eum laborum, pariatur unde atque tenetur repellat dolorem officiis eius
                nulla necessitatibus assumenda a ipsum eveniet saepe culpa similique eos odit voluptatem. Doloremque ducimus
                eligendi voluptates.
                Sapiente cum nemo, qui porro quos eos itaque natus, laudantium mollitia suscipit, ipsam voluptatum a soluta.
                Quo dolore aut fuga facere, maxime repellat dolores ea, nobis eos voluptate consequatur quia.
                Optio non iusto qui illum a sit excepturi, quod minima nesciunt ab repellendus pariatur cumque dolorum
                corrupti quidem repudiandae magnam soluta cupiditate harum voluptate, at nobis? Vitae eos neque accusantium.
                Distinctio repellendus at beatae, aliquid cupiditate neque laudantium temporibus hic ratione dolor. Aut quod
                rem enim suscipit, tempore libero veniam voluptatum deserunt ipsum natus quis qui vitae, quos dignissimos
                minima!
                Molestias, obcaecati doloremque dolore deserunt explicabo sapiente atque repellat minima eos tempore beatae
                veniam. A deleniti, ea beatae, nisi tenetur dolore enim maxime perspiciatis sequi eaque rem ut asperiores
                quidem!
                Officia corporis vitae velit? Architecto, sapiente quidem perspiciatis, nihil officia fuga similique
                distinctio necessitatibus maxime veritatis voluptas dolor, tempore exercitationem! Nam iusto impedit qui,
                excepturi ipsa deserunt praesentium eius rerum.
                Accusamus ipsam assumenda vitae officiis enim, quos rerum ipsum hic cumque. Quisquam praesentium debitis
                natus tempora delectus modi. Quisquam harum reprehenderit, culpa eos quo velit ducimus aliquam dolores eius
                et!</p>
    </main>
    <footer class="flechas-footer">
        <a href="#top">
            <div class="flechas">
                <img src="../img/up-arrow_icon-icons.com_73351.ico" alt="">
                <img src="../img/up-arrow_icon-icons.com_73351.ico" alt="">
            </div>
        </a>

        <div>
            <p class="text-center">&#169 2025</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


</body>

</html>